@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.logo {
  font-size: 45px;
  font-family: 'Ephesis', Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: var(--link-hover);
  transform: rotate(-5deg);
  padding-bottom: 3px;

  &:hover {
    color: var(--bright-color);
    transform: scale(1.1) rotate(-5deg);
    transition: var(--link-hover);
  }
}
