.wrapper {
  display: flex;
  justify-content: space-between;
  height: 130px;
  align-items: center;

  a {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.5px;
    transition: var(--link-hover);

    &:hover {
      color: var(--bright-color);
      transition: var(--link-hover);
    }
  }

  .contacts {
    div {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
    }
  }

  .social {
    font-size: 35px;
  }
}
