.team {
  &_grid {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-gap: 20px;
    justify-content: center;
    width: min-content;
    margin: 0 auto;
  }
}

@media (max-width: 1440px) {
  .team {
    &_grid {
      grid-template-columns: repeat(2, min-content);
    }
  }
}
