.calendar {
  padding: 160px 0 220px;

  &_grid {
    display: grid;
    grid-template-columns: min-content;
    width: min-content;
    margin: 0 auto;
    grid-gap: 20px;
  }

  &_card {
    width: 360px;

    h3 {
      font-size: 20px;
      margin: 15px 0;
      font-weight: 600;
    }

    p {
      font-size: 16px;
      margin: 5px 0;
    }

    a {
      width: 100%;
      margin: 0 auto;

      button {
        width: 100%;
      }
    }
  }

  &_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

    &_wrapper {
      width: 360px;
      height: 440px;
    }
  }
}

@media (min-width: 650px) {
  .calendar {
    &_grid {
      grid-template-columns: repeat(2, min-content);
      grid-gap: 30px;
    }

    &_card {
      width: 260px;
    }

    &_image {
      &_wrapper {
        width: 260px;
        height: 320px;
      }
    }
  }
}

@media (min-width: 960px) {
  .calendar {
    &_grid {
      grid-template-columns: repeat(3, min-content);
    }

    &_card {
      width: 200px;
    }

    &_image {
      &_wrapper {
        width: 200px;
        height: 280px;
      }
    }
  }
}

@media (min-width: 1220px) {
  .calendar {
    &_grid {
      grid-template-columns: repeat(4, min-content);
    }

    &_card {
      width: 220px;
    }

    &_image {
      &_wrapper {
        width: 220px;
        height: 320px;
      }
    }
  }
}
