.button {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
  border-radius: 15px;
  background-color: var(--bright-color);
  width: 380px;
  height: 80px;
  transition: var(--button-hover);

  &:hover {
    transition: var(--button-hover);
    background-color: var(--light-gray);
    color: var(--black-color);
  }
}
