.button {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--link-hover);
  padding: 10px;

  figure {
    height: 25px;
    width: 25px;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  g {
    transition: var(--link-hover);
  }

  span {
    font-size: 22px;
    font-weight: 500;
  }

  &:hover {
    color: var(--bright-color);
    transition: var(--link-hover);

    g {
      transition: var(--link-hover);
      stroke: var(--bright-color);
    }
  }
}
