.card {
  width: 200px;
  height: 280px;
  background-color: var(--white-color);
  border-radius: 20px;
  position: relative;

  h3 {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 999;
  }

  #image {
    width: 200px;
    height: 280px;
  }

  img {
    border-radius: 20px;
  }
}
