.button {
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 50px;
  transition: var(--button-hover);

  &:hover {
    transition: var(--button-hover);
    background-color: var(--bright-color);
  }
}
