.main {
  padding: 130px 0 40px;
  background-color: var(--light-gray);

  &_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "c"
      "t";
  }

  &_logos {
    width: 150px;
    margin: 0 auto;
    position: absolute;
    height: 100px;
    top: 150px;
    left: 50%;
    translate: (-50%);

    figure {
      position: absolute;
      width: 50px;
      height: 50px;

      &:nth-child(1) {
        transform: rotate(-26deg);
        left: 0;
        top: 0;
      }

      &:nth-child(2) {
        transform: rotate(21deg);
        right: 0;
        top: 0;
      }

      &:nth-child(3) {
        transform: rotate(24deg);
        left: 50px;
        top: 75px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: var(--link-hover);

        &:hover {
          transform: scale(1.2);
          transition: var(--link-hover);
        }
      }
    }
  }

  &_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    grid-area: t;

    h1 {
      font-size: 26px;
      font-weight: 500;
      text-align: center;
    }

    div {
      display: flex;
      gap: 20px;
      width: min-content;

      figure {
        width: 60px;
        height: 60px;
        border-radius: 15px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 15px;
        }
      }
    }
  }

  &_cards {
    grid-area: c;
    width: min-content;
    margin: 0 auto;

    div {
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 390px) {
  .main {
    &_title {
      h1 {
        font-size: 32px;
      }
    }
  }
}

@media (min-width: 760px) {
  .main {
    &_wrapper {
      grid-gap: 25px;
    }

    &_cards {
      div {
        &:first-child {
          margin-left: 80px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 200px 0 120px;

    &_wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "t c";
      grid-gap: 20px;
    }

    &_title {
      align-items: baseline;
      gap: 90px;
      max-width: 440px;

      h1 {
        font-size: 50px;
        text-align: left;
      }
    }
  }
}

@media (min-width: 1440px) {
  .main {
    &_title {
      h1 {
        font-size: 60px;
      }
    }
  }
}
