.about {
  padding: 120px 0;

  &_wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  h2 {
    margin-bottom: 80px;
  }

  &_image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &_wrapper {
      height: 600px;
      max-width: 880px;
    }
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  p {
    font-size: 22px;
    font-weight: 400;
  }
}

@media (max-width: 1240px) {
  .about {
    &_wrapper {
      flex-direction: column;
      text-align: center;
      align-items: center;

      div {
        gap: 45px;
      }
    }
  }
}

@media (max-width: 960px) {
  .about {
    padding: 60px 0;

    h2 {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 480px) {
  .about {
    &_image {
      &_wrapper {
        height: 360px;
      }
    }
  }
}
