.card {
  h6 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  #image {
    height: 340px;
  }

  p {
    font-size: 20px;
    margin-top: 9px;
  }
}
