.card {
  display: flex;
  align-items: center;
  gap: 20px;

  figure {
    width: 80px;
    height: 80px;
    font-size: 80px;
    color: rgb(125, 125, 125);
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  p {
    font-size: 20px;
  }
}

@media (max-width: 740px) {
  .card {
    figure {
      width: 70px;
      height: 70px;
      font-size: 70px;
    }

    h4 {
      font-size: 15px;
      padding-bottom: 10px;
    }

    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 740px) {
  .card {
    gap: 10px;
    figure {
      width: 55px;
      height: 55px;
      font-size: 55px;
    }
  }
}
