.card {
  display: flex;
  gap: 20px;

  figure {
    width: 75px;
    height: 75px;
    font-size: 75px;
    color: rgb(125, 125, 125);
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  p {
    font-size: 20px;
  }
}
