.perks {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  h2 {
    margin-bottom: 60px;
  }

  padding: 120px 0 160px;
  &_wrapper {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }

  &_deco {
    position: relative;

    #perks_deco_img {
      width: 500px;
      height: 500px;

      img {
        animation: spin infinite 30s linear;
      }
    }

    h3 {
      color: var(--bright-color);
      text-transform: uppercase;
      font-size: 36px;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
