.perks {
  padding: 120px 0 160px;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  h2 {
    margin-bottom: 60px;
  }

  &_wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
  }

  &_deco {
    position: relative;

    article {
      width: 500px;
      height: 500px;
    }

    &_circle {
      width: 100%;
      height: 100%;
      border: 1px solid var(--black-color);
      border-radius: 3000px;
      position: relative;
      animation: spin infinite 30s linear;

      div {
        width: 20px;
        height: 20px;
        background-color: var(--black-color);
        position: absolute;
        border-radius: 100%;

        &:first-child {
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:nth-child(2) {
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);
        }

        &:last-child {
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
        }
      }
    }

    h3 {
      color: var(--bright-color);
      text-transform: uppercase;
      font-size: 36px;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &_cards {
    display: flex;
    flex-direction: column;
    gap: 45px;

    article {
      &:nth-child(2) {
        margin-left: 60px;
      }

      &:nth-child(4) {
        margin-left: 60px;
      }
    }
  }
}

@media (max-width: 1260px) {
  .perks {
    &_wrapper {
      flex-direction: column;
      gap: 100px;
    }
  }
}

@media (max-width: 820px) {
  .perks {
    padding: 60px 0 80px;

    &_deco {
      article {
        width: 400px;
        height: 400px;
      }
    }
  }
}

@media (max-width: 590px) {
  .perks {
    &_deco {
      article {
        width: 300px;
        height: 300px;
      }
    }
  }
}

@media (max-width: 440px) {
  .perks {
    &_deco {
      article {
        width: 250px;
        height: 250px;
      }
    }
  }
}
