.dropdown {
  button {
    width: 100%;
    text-transform: uppercase;
  }

  &_popover {
    background-color: var(--white-color);
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

    &_tablist {
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 20px;
      font-weight: 500;
    }

    &_tab {
      cursor: pointer;
      transition: var(--link-hover);

      &:hover {
        color: var(--bright-color);
        transition: var(--link-hover);
      }
    }
  }

  &_swiper {
    width: 320px;
    height: 420px;
    margin: 0 auto;

    &_slide {
      width: 320px;
      height: 420px;
      cursor: grab;

      figure {
        width: 320px;
        height: 420px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &_title {
    margin: 30px 15px;

    h3 {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    div {
      display: flex;
      gap: 10px;
      align-items: center;

      h4 {
        font-size: 16px;
      }

      figure {
        width: 25px;
        height: 25px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (min-width: 392px) {
  .dropdown {
    &_swiper {
      width: 362px;
    }
  }
}

@media (min-width: 520px) {
  .dropdown {
    &_swiper {
      width: 490px;
    }
  }
}

@media (min-width: 810px) {
  .dropdown {
    &_swiper {
      width: 650px;
    }
  }
}

.tabs {
  --border-color: #bababa;
}

.tab_list {
  display: flex;
  justify-content: space-between;
}

.tab {
  width: 100%;
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  position: relative;
  color: var(--text-color);
  transition: var(--link-hover);
  box-sizing: border-box;
  text-transform: lowercase;
  font-size: 14px;

  &:not(:last-child) {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
  }

  &:last-child {
    border-radius: 0px 10px 10px 0px;
    border: 1px solid var(--border-color);
  }

  &:first-child {
    border-radius: 10px 0px 0px 10px;
  }

  &_rounded:first-child {
    border-radius: 10px 10px 10px 10px;
  }

  &[data-hovered],
  &[data-focused] {
    color: var(--bright-color);
  }

  &[data-selected] {
    background-color: var(--bright-color);
    color: var(--white-color);
    border-top: 1px solid var(--bright-color);
    border-bottom: 1px solid var(--bright-color);
    border-left: 1px solid var(--bright-color);

    &:last-child {
      border-right: 1px solid var(--bright-color);
    }
  }

  &[data-selected] + .tab {
    border-left: 1px solid var(--bright-color);
  }

  &[data-disabled] {
    color: var(--faded-color);
  }

  &[data-focus-visible]:after {
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: 4px;
    border: 2px solid var(--highlight-color);
  }

  &_image_wrapper {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    width: min-content;
    margin: 0 auto;
    gap: 20px;

    figure {
      width: 300px;
      height: 420px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.tab_panel {
  outline: none;

  &[data-focus-visible] {
    box-shadow: inset 0 0 0 2px var(--highlight-color);
  }

  h3 {
    font-size: 36px;
    text-transform: capitalize;
    margin: 50px 0;
    font-weight: 500;
  }
}

@media (max-width: 1460px) {
  .tab {
    &_image_wrapper {
      grid-template-columns: repeat(3, min-content);
    }
  }
}

@media (max-width: 1190px) {
  .tab {
    &_image_wrapper {
      grid-template-columns: repeat(2, min-content);
    }

    &_panel {
      h3 {
        margin: 25px 0;
      }
    }
  }
}

@media (max-width: 860px) {
  .tab {
    padding: 16px 0;

    &:not(:last-child) {
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      border-left: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
      border: 1px solid var(--border-color);
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &_rounded:first-child {
      border-radius: 10px 10px 10px 10px;
    }

    &[data-selected] + .tab {
      border-top: 1px solid var(--bright-color);
      border-left: 1px solid var(--border-color);
    }

    &[data-selected] {
      border-top: 1px solid var(--bright-color);
      border-bottom: 1px solid var(--bright-color);
      border-left: 1px solid var(--bright-color);
      border-right: 1px solid var(--bright-color);
    }
  }

  .tab_list {
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  .tab {
    &_image_wrapper {
      grid-template-columns: min-content;
    }
  }
}
