.portfolio {
  padding: 120px 0 100px;
  h2 {
    margin-bottom: 30px;
  }
}

#mobile_only {
  display: none;
}

@media (max-width: 960px) {
  #desktop_only {
    display: none;
  }

  #mobile_only {
    display: block;
  }
}
