.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;

  a {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    transition: var(--hover-transition);

    &:hover {
      color: var(--bright-color);
      transition: var(--hover-transition);
    }
  }

  .icons {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
}
