.header {
  background-color: var(--light-gray);
  transition: var(--button-hover);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
  }

  &_link {
    font-size: 16px;
    font-weight: 500;
    transition: var(--link-hover);

    &:hover {
      color: var(--bright-color);
      transition: var(--link-hover);
    }
  }

  &_scroll {
    transition: var(--button-hover);
    box-shadow: 1px 3px 15px 0px rgba(0, 0, 0, 0.35);

    .header_wrapper {
      height: 90px;
      transition: var(--button-hover);
    }
  }

  &_contacts {
    &_icons {
      display: flex;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
