.services {
  &_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
  }

  &_pricing {
    h4 {
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 12px;
      font-weight: 500;
    }

    p {
      font-size: 22px;
      margin-bottom: 45px;
    }
  }

  &_sign_up {
    h3 {
      font-size: 40px;
      margin-bottom: 45px;
      font-weight: 500;
    }

    p {
      font-size: 22px;
      margin-bottom: 200px;
    }
  }
}

@media (max-width: 1200px) {
  .services {
    &_wrapper {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }

    a {
      width: min-content;
      margin: 0 auto;
    }

    &_sign_up {
      p {
        margin-bottom: 100px;
      }
    }
  }
}
