:root {
  // COLORS
  --black-color: #000;
  --white-color: white;
  --bright-color: #ff0032;
  --faded-color: rgb(128, 128, 128);
  --light-gray: #e7e7e7;

  // TRANSITIONS
  --button-hover: 0.4s ease-in-out;
  --link-hover: 0.2s ease-in-out;
}
