.section_title {
  font-size: 80px;
}

.main {
  background-color: var(--light-gray);
  height: 760px;

  &_content {
    max-width: 700px;
  }

  h1 {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
  }

  &_cards {
    display: flex;
  }

  #main_button {
    &:hover {
      background-color: var(--white-color);
    }
  }
}

.offers {
  h4 {
    font-size: 24px;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
  }

  h3 {
    font-size: 40px;
  }

  &_content {
    padding-top: 110px;
    display: grid;
    grid-gap: 50px;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);

    h3 {
      margin-bottom: 45px;
    }
  }

  &_pricing {
    div {
      margin-bottom: 45px;

      h4 {
        margin-bottom: 12px;
      }
    }
  }

  &_sign_up {
    p {
      margin-bottom: 215px;
    }
  }

  &_products,
  &_posters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.perks {
  &_wrapper {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }

  &_deco {
    position: relative;

    h3 {
      color: var(--black-color);
      text-transform: uppercase;
      font-size: 36px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
}

.team {
  &_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

// @media (max-width: 1200px) {
//   .team {
//     &_grid {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }
